<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop            
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/tx            
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  ">

	<!-- 1.开启包扫描 -->
	<context:component-scan base-package="mapper,service"></context:component-scan>
	<!-- 2.加载c3p0properties配置文件 -->
	<context:property-placeholder location="classpath:db.properties" />

	<!-- 3.配置c3p0数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${src_driverClass}"></property>
		<property name="jdbcUrl" value="${src_jdbcUrl}"></property>
		<property name="user" value="${src_user}"></property>
		<property name="password" value="${src_password}"></property>
	</bean>
	<!--4.配置SqlsessionFactoryBean -->
	<bean id="SqlsessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 注入mybatis核心配置文件 -->
		<property name="configLocation" value="classpath:mybatis.cfg.xml"></property>
	</bean>
	<!-- mapper接口扫描器 -->
	<!-- spring 为mapper接口创建代理对象 -->
	<bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描dao包下的接口 -->
		<property name="basePackage" value="mapper"></property>

		<property name="sqlSessionFactoryBeanName" value="SqlsessionFactoryBean"></property>
	</bean>
	<!-- 5.配置事务管理器 -->
	<!-- JDBC事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 6.开启注解方式事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="false" />


</beans>